<div class="card">
    <div class="card-header">
        eliminar
    </div>
    <div class="card-block">
        <p class="card-text" style="font-family: Trebuchet MS;">
            ¿Estás seguro que deseas eliminar a la persona?
        </p>
        <!-- <td mat-cell *matCellDef="let row">  -->
            <button mat-button color="warn" (click)="onEliminar()">
                Sí
            </button>
            <button mat-button color="primary" (click)="onCancelar()">
                No
            </button>
          <!-- </td> -->
    </div>
</div>